/*
*    
* Part of Assignment 2 - COMP90024 course at The University of Melbourne     
*    
* Cluster and Cloud Computing - Team 24     
*     
* Authors:     
*    
*  * Liam Simon (Student ID: 1128453)    
*  * Rejoy Benjamin (Student ID: 1110935)    
*  * Parikshit Diwan (Student ID: 1110497)    
*  * Colin McLean (Student ID: 1139518)    
*  * Matthias Bachfischer (Student ID: 1133751)    
*    
* Location: Melbourne    
*   
*/
.header {
    text-align: justify;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    z-index: 10;
    background: #00203FFF;
    -webkit-box-shadow: 0 7px 8px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 7px 8px rgba(0, 0, 0, 0.12);
    box-shadow: 0 7px 8px rgba(0, 0, 0, 0.12);
}

.header h1 {
    float: left;
    font-family: 'Montserrat', sans-serif;
    color: #E1C699;
    text-align: center;
    margin-top:15px;
}

.header h4,h5 {
    font-family: 'Montserrat', sans-serif;
    height:20%;
    border-bottom: 10px solid currentColor;
    border-color: #E1C699;
    float: left;
    color: #ddd;
    text-align: center;
}
.header-buttons{
    float: right;
    height: 100%;
}

.header button {
    font-family: 'Montserrat', sans-serif;
    background: #00203FFF;
    border-style: solid;
    float: left;
    color: #E1C699;
    border-color: transparent;
    text-decoration: none;
    text-align: center;
    padding: 12px;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
    height: 100%;
}

.header button:hover{
    background-color: #ddd;
    color: black;
}

